<li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newburger="{{devoured}}">
	          DEVOUR ME!

	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>