<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../assets/css/styles.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/index.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
